#content {
    width: 50%;
   	margin: 0px auto;
   }
   form {
   	width: 50%;
   	margin: 20px auto;
   }
   form div {
   	margin-top: 5px;
   }
   #img_div {
   	width: 80%;
   	padding: 5px;
   	margin: 5px auto;
   }

   #comment_box {
     height:120px;
     width:120px;
     font:16px/26px Georgia, Garamond, Serif;
     overflow:auto;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
  }
   img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   }
  .delete {
    margin-left: auto;
    margin-right: auto;
  }
  
  .textbox {
    margin: auto;
    display: block;
    width: 100%;
    height: 100px;
  }

  .commentBox {
    margin-bottom: 5px;
  }
   body {
     background-color: grey !important;
   }
